@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Roboto+Slab:wght@400;700&display=swap');

:root {
    --color-theme: var(--primary, #740106);
    --bs-body-font-size: .85rem !important;
    --bs-body-font-family: 'Roboto', Arial, Helvetica, sans-serif !important;
}
:root[data-bs-theme=light] {
    --bs-link-color: #333333 !important;
    --bs-link-hover-color: var(--color-theme) !important;
}
:root[data-bs-theme=light] body {
    color: var(--bs-dark);
    background-color: var(--bs-secondary);
}
:root[data-bs-theme=light] .navbar-dark {
    --bs-navbar-color: rgb(255 255 255);
}
:root[data-bs-theme=light] .container {
    background-color: var(--bs-white);
}
small{
    font-size: .7rem !important;
}
.container {
    max-width: 1000px !important;
}
.text-theme {
    color: var(--color-theme) !important;
}
.bg-header {
    background: transparent !important;
}
.bg-black {
    background-color: #222222 !important;
}
.bg-color-theme {
	background-color: var(--color-theme) !important;
}
.bg-muted {
    background-color: #dcdcdc;
}
.bg-darkopacity {
 background-color: rgba(0,0,0,0.7);
}
.text-shadow {text-shadow: 1px 1px 3px #000;}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
	font-weight: bold;
	line-height: 1.4;
}
.bi {
    vertical-align: -0.125em;
}
.widget_tabs_berita_2_widget #beritaTabs {
    border-bottom: 2px solid var(--color-theme);
}
.separator {height: 4px;}
.card-breadcrumbs {
    background: none repeat scroll 0 0 #F4F4F4;
    border: 1px solid #fefefe;
    font-size: 13px;
    margin: 0px auto 20px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.navbar-brand img {
    max-height: 70px !important;
}
.secondary-menu li a {
    font-size: .75rem;
}
.fixedHeader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}
.module-vdposts h6 {font-size: 14px;}
.home-special-title span {
    font-size: .9rem;
    font-weight: bold;
    padding: 10px;
    text-transform: uppercase;
}
.bg-lightening {
    background-color: #efefef;
}
.home-special {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 2px 0 #666666;
    -moz-box-shadow: 0 2px 0 #666666;
    -webkit-box-shadow: 0 2px 0 #666666;
    border-top: none;
}
#wrapper-navbar {
    padding: 0 !important;
}
.widget_tabs_berita_1_widget li::after {
    content: '';
}
.flickity-prev-next-button, .flickity-prev-next-button:hover {
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 0;
    color: var(--bs-white);
    background-color: var(--color-theme);
}
#beritaTabs .nav-item .nav-link.active {
    background-color: var(--color-theme) !important;
    border: 0 !important;
    color: #ffffff;
}
#carouselHome .carousel-indicators [data-bs-target] {    
    width: .85rem;
    height: .85rem;
    border-radius: 100%;
    color: #444 !important;
}
#carouselHome .carousel-caption {
    bottom: 0;
    left: 0;
    width: 100%;
    right: inherit;
    padding-left: 1rem;
}
.carousel-indicators {
    top: 20px !important;
    left: 20px !important;
    display: block !important;
    justify-content: left !important;
    padding: 0 !important;
    margin: 0 !important;
}
#search {
    color: #333;
    border-left: 1px solid #b8b8b8;
    position: relative;
    width: 100%;
}
.tag-cloud-link, .widget_tag_cloud .tag-cloud-link, .widget_tag_cloud a {
    font-size: .7rem !important;
    border-radius: 0 !important;
    background-color: var(--color-theme) !important;
    border: none !important;
}
.media-slot img {width: 100%;}
.module-vdposts-carousel .slick-arrow {
    position: absolute;
    z-index: 99;
    top: 0;
    bottom: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 !important;
    line-height: 1;
    background-color: rgba(0, 0, 0, 0.4);
}
.module-vdposts-carousel .slick-arrow > svg{
    width: 1.5rem;
    height: 1.5rem;
    display: block;
} 
.module-vdposts-carousel .prev-arrow {left: 0;}
.module-vdposts-carousel .next-arrow {right: 0;}

/* Offcanvas dropdown toggle alignment */
.offcanvas .navbar-nav .dropdown-toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.offcanvas .navbar-nav .dropdown-toggle::after {
    margin-left: 5px;
    flex-shrink: 0;
    vertical-align: middle;
}
.velocity-headline-title::after {
    content: '';
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-left: 7px solid var(--color-theme);
    border-bottom: 7px solid transparent;
    position: absolute;
    left: 100%;
    top: 4px;
}
.velocity-post-info {
    border-bottom: 3px double #dddddd;
    border-top: 1px solid #dddddd;
    padding: 5px 0px 10px 0px;
    margin-top: 10px;
}
.velocity-footer {
    position: relative;
    background-color: #B1BDC4;
    font-size: 13px;
    line-height: 175%;
}
.velocity-title {
	background-image: url('../img/dot.png');
	background-size: 3px;
	background-repeat: repeat;
	font-size: 16px;
    font-weight: bold;
	text-transform: uppercase;
	text-align: left;
	line-height: inherit;
	position: relative;
}
.velocity-title span {
	position: relative;
}
.velocity-title span::after {
	content: '';
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-left: 10px solid var(--primary);
	border-bottom: 10px solid transparent;
	position: absolute;
	top: 5px;
	left: 100%;
}
.velocity-title-center span::before {
	content: '';
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-right: 10px solid var(--primary);
	border-bottom: 10px solid transparent;
	position: absolute;
	top: 5px;
	right: 100%;
}
.velocity-footer {
	position: relative;
	background-color: #B1BDC4;
	font-size: 13px;
	line-height: 175%;
}
.velocity-page-footer {
	position: relative;
	z-index: auto !important;
	padding: 1em;
	text-align: center !important;
	text-decoration: none;
	color: #6b6b6b;
	font-size: 12px;
	background-color: #202020;
}
.velocity-page-footer a {
	color: #6b6b6b !important;
}
.widget .widget-title, .footer-widget .widget-title {
	font-size: 1.2em;
	text-transform: uppercase;
	position: relative;
}
.footer-widget > div {
	padding: 1em;
	background-color: #ffffff;
}
.widget-area ul, .footer-widget ul {
	padding:0;
	margin:0;
}
.widget-area ul li, .footer-widget ul > li {
	display:block;
	padding-bottom: 5px;
	margin-bottom: 5px;
	border-bottom: 1px dashed #757575;
}
.widget-area ul li {
	border-bottom: 1px dashed #dbdbdb;
}
.site-main td, .site-main th, .site-main caption,
.footer-widget td, .footer-widget th, .footer-widget caption {
	vertical-align: top;
	padding: 5px;
}
.vpost-list {
    border-bottom: 1px dashed rgba(255,255,255,0.5);
    padding-bottom: 7px;
    margin-bottom: 7px;
}

.velocity-row {
    margin-left: -0.5rem !important;
    margin-right: -0.5rem !important;
}
.velocity-post-row {
    margin-left: -0.25rem !important;
    margin-right: -0.25rem !important;
}


@media(min-width: 768px) {
    #wrapper-content > .wrapper {
        padding: 0;
    }
    #wrapper-content > .wrapper > #content {
        padding: 1rem;
    }
    .right-sidebar {
        max-width: 30%;
    }
    #main-menu > li > a {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        padding-left: 20px !important;
        padding-right: 20px !important;
        border-top:3px solid #0198cd;
        transition: all 300ms ease-in;
    }
    #main-menu > li:nth-child(1n+1) > a {border-color: #e671b5;}
    #main-menu > li:nth-child(2n+1) > a {border-color: #19a2de;}
    #main-menu > li:nth-child(3n+1) > a {border-color: #8cbe29;}
    #main-menu > li:nth-child(4n+1) > a {border-color: #ef9608;}
    #main-menu > li:nth-child(5n+1) > a {border-color: #a500ff;}
    #main-menu > li > a:hover {
        transition: all 300ms ease-in;
    }
    #primary {
        width: 70%;
    }
    .navbar-nav > li a:hover {
        text-decoration: none;
    }
    .menu-header #main-menu > li a {
        padding: 10px 14px;
    }
    .menu-header #main-menu > li.current_page_item > a, .menu-header #main-menu > li > a:hover, .menu-header #main-menu > li.current-menu-item > a {
        background-color: var(--color-theme);
    }
    .velocity-navbar .navbar {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        box-shadow: 0 2px 0 #666666;
        -moz-box-shadow: 0 2px 0 #666666;
        -webkit-box-shadow: 0 2px 0 #666666;
        border-top: none;
    }
    .velocity-navbar .navbar {
		margin: 0 -13px;
	}
	.velocity-navbar .navbar::before {
		content: '';
		width: 0;
		height: 0;
		border-top: 10px solid var(--bs-dark);
		border-left: 13px solid transparent;
		position: absolute;
		top: 100%;
		left: 0;
	}
	.velocity-navbar .navbar::after {
		content:'';
		width: 0;
		height: 0;
		border-top: 10px solid var(--bs-dark);
		border-right: 13px solid transparent;
		position: absolute;
		top: 100%;
		right: 0;
	}
    .velocity-page-footer {
		margin: 0 -13px;
	}
    .velocity-page-footer::before {
		content: '';
		width: 0;
		height: 0;
		border-bottom: 10px solid #202020;
		border-left: 13px solid transparent;
		position: absolute;
		bottom: 100%;
		left: 0;
	}
	.velocity-page-footer::after {
		content: '';
		width: 0;
		height: 0;
		border-bottom: 10px solid #202020;
		border-right: 13px solid transparent;
		position: absolute;
		bottom: 100%;
		right: 0;
	}
}


@media(max-width: 768px) {
    #carouselHome .carousel-indicators {
        margin-bottom: 0.1rem;
    }
    #wrapper-content > .wrapper {
        padding: 0 0.75rem;
    }
    #wrapper-content > .wrapper > #content {
        padding: 1rem;
    }
}
